apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ repo }}
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ repo }}
  template:
    metadata:
      labels:
        app: {{ repo }}
    spec:
      containers:
      - name: {{ repo }}
        image: {{ account }}/{{ repo }}:{{ tag }}
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: assistants-app-config

---

apiVersion: v1
kind: Service
metadata:
  name: {{ repo }}-lb
  namespace: default
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: 8080
  selector:
    app: {{ repo }}



